.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background: #1565c0;
    background-image: url('../../assets/images/milenial_eye.png');
    background-image: url('../../assets/images/milenial_eye.png'), linear-gradient(180deg, #114d92 0%, #1565c0 100%);
    background-repeat: repeat;
    background-size: 10em;
    &__container{
        height: 90vh;
        margin-top: 1em;
        margin-bottom: 1.5em;
        display: flex;
        justify-content: space-around;
        &--left {
            width: 60%;
            height: 100%;
            &--item{
                margin: 0 auto;
            }
        }
        &--right {
            width: 37%;
            height: 100%;
            &--item{
                margin: 0 auto;
            }
        }
    }
    &__nav {
        height: 4em;
    }
}



@media only screen and (max-width: 600px) {
    .main__container {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        &--left {
            width: 95%;
            margin-bottom: 1em;
        }
        &--right {
            width: 95%;
        }
        
    }
  }