.navigation {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #003c8f;
    border-bottom: 1px solid #266cce;
    color: white;
    &__icon {
        height: 3.5em;
        transform: translateY(1em);
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        &--trigger {
            width: 7em;
            margin-right: 2em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
        }
    }
}

.mat-menu-panel {
    background: #003c8f !important;
}

.mat-menu-item {
    background: rgba(0, 0, 255, 0.349);
}

.mat-menu-item:hover {
    background: rgba(0, 0, 255, 0.507);
}

@media only screen and (max-width: 600px) {
    .navigation__icon {
        height: 2em;
        transform: translateY(0);
    }
    
    .navigation__menu--trigger {
        width: auto;
        margin-right: 0.5em;
        font-size: 16px;
    }
  }